/* Global Styling */

.mainbody {
    font-family: 'Amatic SC', cursive;
    background: /*#2F4F4F*/#7E715D;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 100%;


}


/* Top Menu */
.navbar {
    background: none;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
    opacity: .8;
    background-color: #734523!important;
    position: fixed;
    transition: top 0.3s;
    top: 0;
    width: 100%;
    z-index: 1;

}
.navbar a {
    color: white!important;
}
.navbar a:hover {
    color:#2F4F4F!important;
    font-size: 20px!important;
}
.navbar-nav .nav-link a{
    color: white;

}
.navbar-dark .navbar-nav {
    font-size: 20px;
    color: white;
    font-weight: 600;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: white;
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 

/***** Top content *****/
 
.jumbotron {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bandoncar2.jpeg");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.hero-text a {
    font-weight: bold;
    color: #734523;
    font-size: 70px;
}
.hero-text a:hover {
    color: white;
}
.hero-text h1 {
    font-size: 140px;
    flex-wrap: nowrap;
    letter-spacing: 10px;

}
.hero-text h2 {
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    color: #734523;
}
.hero-text h3 {
    text-align: center;
    font-size: 60px;
    color: #8F8575;
    font-weight: bold;
}
img {
    height: 800px;
    width: 100%;
}

/* Upcoming Shows Stylingg */

.section1 {
    margin-top: 300px;
}
.section1 h1 {
    text-align: center;
    font-size: 70px;
    color: #734523;
    font-weight: bold;
}
table, th, td {
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}
table {
    width: 100%;
}
td {
    margin-top: 10px;
}










/* Responsive Styling */

@media (min-width: 768px) and (max-width: 991px) {
 
 .navbar-expand-md .navbar-nav .nav-link { 
    padding-left: 0.6rem; 
    padding-right: 0.6rem; }
}
@media screen and (max-width: 992px){
    .jumbotron h1{
        font-size: 80px;
    }
    .jumbotron h2, .jumbotron h3{
        font-size: 50px;
    }
}
 
@media (max-width: 767px) {
 
.navbar.navbar-no-bg { background: #444; }
.navbar-dark .navbar-toggler { border-color: #444; }
.navbar-dark .navbar-toggler:focus { background: #333; outline: 0; }
.navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 70px;
    letter-spacing: 10px;
    font-weight: bold;
}
.hero-text h2 {
    font-size: 30px;

}
.hero-text h3 {
    font-size: 50px;
    color: white!important;
}
.jumbotron {
    background-size: 100% 100%;
    height: 500px;
    
}
table, th, td {
    width: 100%;
    font-size: 20px;
}
iframe {
    width: 150px;
    height: 150px;
}

}
